---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<h3><a href="https://thecodinglama.github.io/assets/cv.pdf" target="_blank">CV - click here to Download.</a></h3>

<h3>Research Publications</h3>

<ul>
  <li>Published a paper titled ”Cost –Sensitive Deep Learning Framework and Visualization for Malware Classification. IEEE Transactions on Information Forensics and Security.”  in 5th IEEE International Conference on Advanced Computing & Communication Systems,2019</li>
  <li>Submitted a journal paper titled"Deep Learning and Visualization for Botnet Detection in the Internet of Things of Smart Cities" to Future Generation Computer System.</li>
  <li>Manuscript title ”A Survey of Applications of Deep Learning for Cyber Security” under-preparation for IEEE Communications Surveys Tutorials (IF: 20.23).</li>
  <li>Paper ready for submission titled ”Deep Learning Approach for Intelligent Named Entity Recognition of Cyber Security" </li>
  <li>Paper ready for submission titled ”Deep learning Approach for Enhanced Cyber Threat Indicators in Twitter Stream"</li>
  <li>Paper ready for submission titled "Deep learning based Framework for Handling Imbalance In DGA, Email and URL Data Analysis"</li>
   
</ul>

<h3>Mini-Projects</h3>
<ul>
  <li>Comparision of Deep learning based frameworks for fingerprint classification.</li>
  <li>Smart Blind Stick using Arduino </li>
  <li>AI based Smart mirror.</li>
</ul>
 
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
